# Environment

.env
.env.*

# Logs

*.log

# OS Files

.DS_Store
Thumbs.db

# VS Code

.vscode/*
!.vscode/extensions.json

# Laravel

server/vendor/
server/node_modules/
server/public/hot
server/public/storage
server/storage/*.key
server/.env

# Vue / Vite

client/node_modules/
client/dist/
client/.env

# Testing

coverage/

# Composer

server/composer.phar

# NPM

npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# Build files

*.cache
